*{
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
p {
  font-size: 115%;
}
header{
  background-color: teal;
  display: flex;
}
.title{
  width: 50%;
  color: white;
  justify-content: flex-start;
  margin: auto 6vw auto;
  font-size: 30px;
}
.responsive {
  width: 100%;
  height: auto;
}
#navbar {
  width: 50%;
  font-size: 150%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 1vh 1vw;
  padding: 30px;
}
#navbar li {
  margin: 2vh 1vw;
  padding: 0.1em;
}
#navbar a:link, #navbar a:visited {
  padding: 0.4em 1em 0.4em 1em;
  color: white;
  background-color: #491d88;
  text-decoration: none;
  border: 1px solid white
}
#navbar a:hover {
  color: white;
  background-color: grey;
}
#navbar ul .thissite{
  background-color: white;
  color: black;
}

.textbox1 {
  padding:10px;
}
.textbox1 p{
  padding-top: 10px;
}
