main{
    display: flex;
}
main div{
    flex: 1;
    margin: 3vh 3vw;
}
table{
    border-collapse: collapse;
}
td, th{
    border: black solid 3px;
    padding: 1vh 1vw;
}

@media only screen and (max-width: 800px){
    main{
        display: block;
        margin: 3vh 3vw;
        padding: 1vh 1vw;
    }
    main div{
        width: 100%;
    }
}
